
@font-face {
	font-family: 		EBGaramond12;
	src: 				url('fonts/EBGaramond12-Regular.ttf');
}

@font-face {
	font-family:		EBGaramond8;
	src: 				url('fonts/EBGaramond08-Regular.ttf');
}

/*
 *	Allgemeiner Seitenaufbau
 *
 */
body {
	font: 				10pt 'EBGaramond8', serif;
	color:				#333027;
	overflow:			scroll;
	width:				480px;
	margin:				auto;
}

header h1 {
	font-weight:		normal;
	font-size:			760%;
	font-family: 		'EBGaramond12', serif;
	color:				#555047;
	height:				410%;
	padding:0px;
	margin:0px;
}

header h1:first-letter {
	font-weight:		normal;
	font-size:			160%;
	color:				#600;
}

header h1 span {
	font-size:			20%;
	color:				#CCC0B7;
}

/*
 * Struktur, Navigation
 *
 */
div#content	{
	width:				350px;
	text-align:     	justify;
	display:			inline-block;
}

h2 {
	text-align:			right;
    font-weight:		normal;
	font-size:			150%;
}

h2 span {
    color:          	#CCC0B7;
    /*font-style:     	italic;*/
	font-size:			50%;
    margin-left:    	20px;
}

h3 {
	text-align:			left;
	font-weight:		normal;
}

h3 span {
	color:				#AAA095;
	font-size:			90%;
	/*font-style:			italic;*/
	display:			block;
}

h4 {
	font-weight:		normal;
	font-size:			110%;
}

a.logo, a.link {
        float:  right;
}

nav {
	font-family:		serif;
	float:				left;
	text-align:			right;
	margin-right:		40px;
	width:				80px;
}

nav a {
	display:			block;
}

/*
 *	Links
 *
 */
 
a {
	text-decoration:	none;
}

a:link {
	color:				#900;
}

a:visited {
	color:				#600;
}

a:hover {
	color:				#D00;
}

a img {
	vertical-align: 	middle;
	border: 			none;
}

/*
 *	Der Inhalt, Paragraphen, Elemente usw.
 *
 */
 
/* Quote*/
q {
	padding:			5px;
	display:			block;
	font-style:			oblique;
}

/* paragraph */
p:first-letter {
	font-size: 			120%;
	/*font-weight: 		bold;*/
	color:				#600;
}

/* irgendwas (bilder?)*/
div#content div {
    font:               normal 75%  sans;
    padding:            20px;
    padding-top:        5px;
    margin-bottom:     	0px;
	text-align:			center;
}

/*
 *	Sonderfälle
 *
 */
p#ich {
	height:				262px;
}

img#ich {
	position:			absolute;
	width:				350px;
	clip:				rect(105px 350px 155px 0px);
}	


